<div class="section-wrapper">
    <section class="section about" id="about">
        <div id="about-text">
            <div class="section-heading">About</div>
            <p class="paragraph-text justify-text">
                Hi everyone! My name is Dominic and I am a Software Engineer from California. I am currently a student at UC San Diego studying math and computer science graduating in December of 2020. After graduation, I will be joining American Express to work as a backend software engineer on the payment network team.
            </p>
            <p class="paragraph-text justify-text">
                Ever since I can remember, I've been interested in technology and always tried to learn more. I realized just how much I like Computer Science when I was teaching programming summer camps in 2015 and 2016. After that, I decided to study Computer Science in university.
            </p>
            </p>
             <p class="paragraph-text justify-text">
                 In my free time, I like cycling, running, and playing chess. I also enjoy building software projects to solve problems that I face in my everyday life.
            </p>
            <p class="paragraph-text justify-text">
                My email address can be found at the <span class="extra-link"><a href="#extra">bottom</a></span> of this page.
            </p>
        </div>
    </section>
</div>
